miniN8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="graph">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vertex" maxOccurs="unbounded">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="neighbourList">
    <xs:list itemType="xs:string"/>
  </xs:simpleType>
  <xs:element name="vertex">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="neighbourList" type="neighbourList" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>